<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
  </div>
  <div class="col-md-8">
    <p>Find me in app/views/pages/about.html.erb</p>
  </div>

</div>



