<hr>
<hr>
<hr>
<hr>
<hr>
<h1>Contact Me</h1>
<hr>
<div>
<p><h3><%= number_to_phone "8016526690" %></h3></p>
</div>
<div>
<h3>Email</h3>
<p><a href="mailto:adamfam@hotmail.com?subject=PortfolioContact" "email me">Email me</a></p>
</div>
<div>
<p>Or write: 5291 S Rome Beauty Park <br> Murray, UT, 84123</p>

<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="steven-adams-939834118"><a class="LI-simple-link" href='https://www.linkedin.com/in/steven-adams-939834118?trk=profile-badge'>Steven Adams</a></div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3026.945376415196!2d-111.91249058466042!3d40.653134479338284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87528bd5fcd36be5%3A0xabe9af9c9ea6dcc!2s5400+S+700+W%2C+Murray%2C+UT+84123!5e0!3m2!1sen!2sus!4v1495130098347" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>